body {
    font-family: 'Raleway', sans-serif;
    margin:0px;
}

header {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-between;
    max-width: 1400px;
}

h1 {
    font-size: 20px;
    height: 15px;
}

h3 {
    font-weight: normal;
    font-size: 15px;
    height: 20px;
}

h4 {
    margin: 0px;
    font-size: x-large;
}

h5 {
    margin: 0px;
}

h6 {
    font-size: 15px;
    height: 15px;
    padding: 20px;
    margin: 0px;
}

strong {
    font-size: medium;
}

#header__img {
    align-self: center;
    width: 125px;
}

.header__divs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.header__div {
    padding: 16px 48px;
    font-size: 20px;
    background-color: white;
    border: 0;
    width: 50%;
    border-bottom: #F2F2F2 solid 2px;
}

    .header__div:active {
        color: #0065FC;
        border-bottom: #0065FC solid 2px;
}

main {
    display: flex;
    flex-flow: column nowrap;
    margin: 0px 16px;
    max-width: 1400px;
    margin: auto;
}

#SearchSpace{
    padding: 16px;
}

.inputDiv {
    padding: 16px 0px;
    display: flex;
    width: 400px;
    flex-flow: row nowrap;
    height: 30px;
}

#icon {
    background-color: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 20px;
    padding: 15px;
}

#searchBar {
    border: 1px solid #F2F2F2;
    height: 50px;
    width: 300px;
}

#searchButton {
    display: none;
}
    #searchButton:active {
        background-color: darkblue;
    }

#searchIcon {
    border-radius: 10px;
    height: 14px;
    border: 0;
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    padding: 18px 17px;
    position: relative;
    left: -6px;
}


.location {
    font-family: 'Raleway', sans-serif;
    width: auto;
}

.filters {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 8px;
}

#filtertext {
    width: 100%;
}

.filter {
    display: flex;
    flex-flow: row wrap;
    border: 2px solid #F2F2F2;
    border-radius: 60px;
}

    .filter:active {
        background-color: #DEEBFF;
    }

.SearchSpace {
    display: flex;
    flex-flow: column nowrap;
}

.Content {
    display: flex;
    flex-flow: row nowrap;
}

.Accommodations {
    width: auto;
    display: flex;
    flex-flow: column-reverse nowrap;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    padding: 16px;
    padding-bottom: 0px;
}

    .container:nth-child(2) {
        background-color: #F2F2F2;
        margin-top: 16px;
    }

.accomodationsitems {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.accomodationsitem {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
    width: 100%;
    height: 300px;
    margin: 16px;
    padding: 5px;
    box-shadow: 3px 3px 5px 5px #F2F2F2;
}

.itemimg {
    border-radius: 25px 25px 0px 0px;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.popularitems {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    min-width: 300px;
}

.popularitem {
    background-color: white;
    border-radius: 25px;
    min-width: 150px;
    height: 200px;
    margin: 16px;
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
    box-shadow: 3px 3px 5px 5px #F2F2F2;
}

.popularitemimg {
    border-radius: 25px 0px 0px 25px;
    height: 200px;
    width: 190px;
    object-fit: cover;
}

.popularitemtext {
    padding-left: 16px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.Activities {
    padding: 16px;
}

#first {
    height: 250px;
}

#second {
    height: 250px;
}

#third {
    height: 250px;
}

#forth {
    height: 250px;
}

#fifth {
    height: 250px;
}

#sixth {
    height: 250px;
}

.activitiesitems {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.activitiesdiv {
    display: flex;
    flex-flow: column nowrap;
    padding: 16px;
    gap: 32px;
}

.activitiesitem {
    border-radius: 25px;
    box-shadow: 5px 5px 5px #F2F2F2;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.activitiesitemimg {
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
    height: 80%;
    width: 100%;
}

#big {
    height: 90%;
}

.activitiesitemtext {
    padding: 0px 0px 16px 16px;
}

footer {
    background-color: #F2F2F2;
    padding-top: 32px;
    padding-bottom: 48px;
}

.foot {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    max-width: 1400px;
    margin: auto;
}

.footitem{
    margin: 16px 32px;
}

.under:hover {
    text-decoration: underline;
}
